<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.knowledge.mapper.AiKnowledgeTestCaseMapper">

    <resultMap type="AiKnowledgeTestCase" id="AiKnowledgeTestCaseResult">
        <result property="id"                column="id"                 />
        <result property="kbId"              column="kb_id"              />
        <result property="testName"          column="test_name"          />
        <result property="query"             column="query"              />
        <result property="expectedDocIds"    column="expected_doc_ids"   />
        <result property="expectedKeywords"  column="expected_keywords"  />
        <result property="metadataFilter"    column="metadata_filter"    />
        <result property="status"            column="status"             />
        <result property="createBy"          column="create_by"          />
        <result property="createTime"        column="create_time"        />
        <result property="updateBy"          column="update_by"          />
        <result property="updateTime"        column="update_time"        />
    </resultMap>

    <sql id="selectAiKnowledgeTestCaseVo">
        select id, kb_id, test_name, query, expected_doc_ids, expected_keywords,
               metadata_filter, status, create_by, create_time, update_by, update_time
        from ai_knowledge_test_case
    </sql>

    <select id="selectAiKnowledgeTestCaseList" parameterType="AiKnowledgeTestCase" resultMap="AiKnowledgeTestCaseResult">
        <include refid="selectAiKnowledgeTestCaseVo"/>
        <where>
            <if test="kbId != null"> and kb_id = #{kbId}</if>
            <if test="testName != null and testName != ''"> and test_name like concat('%', #{testName}, '%')</if>
            <if test="status != null and status != ''"> and status = #{status}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectAiKnowledgeTestCaseById" parameterType="Long" resultMap="AiKnowledgeTestCaseResult">
        <include refid="selectAiKnowledgeTestCaseVo"/>
        where id = #{id}
    </select>

    <select id="selectActiveByKbId" parameterType="Long" resultMap="AiKnowledgeTestCaseResult">
        <include refid="selectAiKnowledgeTestCaseVo"/>
        where kb_id = #{kbId} and status = '0'
        order by create_time desc
    </select>

    <insert id="insertAiKnowledgeTestCase" parameterType="AiKnowledgeTestCase" useGeneratedKeys="true" keyProperty="id">
        insert into ai_knowledge_test_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="kbId != null">kb_id,</if>
            <if test="testName != null">test_name,</if>
            <if test="query != null">query,</if>
            <if test="expectedDocIds != null">expected_doc_ids,</if>
            <if test="expectedKeywords != null">expected_keywords,</if>
            <if test="metadataFilter != null">metadata_filter,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="kbId != null">#{kbId},</if>
            <if test="testName != null">#{testName},</if>
            <if test="query != null">#{query},</if>
            <if test="expectedDocIds != null">#{expectedDocIds},</if>
            <if test="expectedKeywords != null">#{expectedKeywords},</if>
            <if test="metadataFilter != null">#{metadataFilter},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            NOW()
        </trim>
    </insert>

    <update id="updateAiKnowledgeTestCase" parameterType="AiKnowledgeTestCase">
        update ai_knowledge_test_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="kbId != null">kb_id = #{kbId},</if>
            <if test="testName != null">test_name = #{testName},</if>
            <if test="query != null">query = #{query},</if>
            <if test="expectedDocIds != null">expected_doc_ids = #{expectedDocIds},</if>
            <if test="expectedKeywords != null">expected_keywords = #{expectedKeywords},</if>
            <if test="metadataFilter != null">metadata_filter = #{metadataFilter},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = NOW()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAiKnowledgeTestCaseById" parameterType="Long">
        delete from ai_knowledge_test_case where id = #{id}
    </delete>

    <delete id="deleteAiKnowledgeTestCaseByIds" parameterType="Long">
        delete from ai_knowledge_test_case where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByKbId" parameterType="Long">
        delete from ai_knowledge_test_case where kb_id = #{kbId}
    </delete>

</mapper>