<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cortex.agent.mapper.AiAgentSkillMapper">
    
    <select id="selectSkillIdsByAgentId" parameterType="Long" resultType="Long">
        select skill_id from ai_agent_skill where agent_id = #{agentId}
    </select>

    <insert id="batchInsertAgentSkill" parameterType="java.util.List">
        insert into ai_agent_skill (agent_id, skill_id) values
        <foreach collection="list" item="item" separator=",">
            (#{item.agentId}, #{item.skillId})
        </foreach>
    </insert>

    <delete id="deleteAgentSkillByAgentId" parameterType="Long">
        delete from ai_agent_skill where agent_id = #{agentId}
    </delete>
</mapper>
